@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #666;
  line-height: 26px;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  color: #1F2024;
  margin-top: 0px;
  font-weight: 500;
  line-height: 1.2;
  transition: all 0.3s ease-out 0s;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

p {
  font-size: 14px;
  font-weight: normal;
  color: #666;
  margin-bottom: 15px;
  line-height: 24px;
}

a,
.btn,
button,
span,
p,
i,
input,
select,
textarea,
li,
img,
svg path,
*::after,
*::before,
.transitions-3 {
  transition: all 0.3s ease-out 0s;
}

a:focus,
.button::focus {
  text-decoration: none;
  outline: none;
}

a:focus,
a:hover {
  color: inherit;
  text-decoration: none;
}

a,
button {
  color: inherit;
  outline: none;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: 0;
  border: 0;
}

.body-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-out 0s;
}
.body-overlay:hover {
  cursor: pointer;
}

.fix {
  overflow: hidden;
}

.body-overlay.opened {
  opacity: 1;
  visibility: visible;
}

.page-home {
  margin-top: 20px;
}

.side-border {
  position: relative;
}
.side-border::before {
  position: absolute;
  content: "";
  background: #ffffff;
  width: 1px;
  height: 18px;
  opacity: 0.2;
  right: 60px;
  top: 18px;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .side-border::before {
    right: 30px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .side-border::before {
    right: 15px;
  }
}

.offcanvas-area {
  position: fixed;
  right: -495px;
  top: 0;
  width: 465PX;
  height: 100%;
  background: #ffffff none repeat scroll 0 0;
  overflow-y: scroll;
  box-shadow: -5px 0 20px -5px rgba(0, 0, 0, 0.5);
  box-shadow: -5px 0 20px -5px rgba(0, 0, 0, 0.5);
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  z-index: 999;
}
@media (max-width: 575px) {
  .offcanvas-area {
    width: 290px;
  }
}
.offcanvas-area.opened {
  right: 0px;
}
.offcanvas-area .offcanvas-wrapper {
  position: relative;
  padding: 45px;
}
@media (max-width: 575px) {
  .offcanvas-area .offcanvas-wrapper {
    padding: 20px;
  }
}
.offcanvas-area .offcanvas-wrapper .offcanvas-close {
  position: absolute;
  top: 37px;
  right: 45px;
}
@media (max-width: 575px) {
  .offcanvas-area .offcanvas-wrapper .offcanvas-close {
    top: 10px;
    right: 20px;
  }
}
.offcanvas-area .offcanvas-wrapper .offcanvas-close .offcanvas-close-button {
  display: inline-block;
  font-size: 16px;
  height: 45px;
  width: 45px;
  line-height: 45px;
  background: #9E6F55;
  color: #fff;
  border-radius: 50%;
}
.offcanvas-area .offcanvas-wrapper .offcanvas-close .offcanvas-close-button:hover {
  background-color: #263C97;
}
.offcanvas-area .offcanvas-wrapper .offcanvas-content .offcanvas-logo {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
.offcanvas-area .offcanvas-wrapper .offcanvas-content .offcanvas-logo img {
  max-width: 120px;
}
.offcanvas-area .offcanvas-wrapper .offcanvas-content .offcanvas-search {
  position: relative;
}
.offcanvas-area .offcanvas-wrapper .offcanvas-content .offcanvas-search input {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding-right: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #e5e5e5;
  font-size: 14px;
}
.offcanvas-area .offcanvas-wrapper .offcanvas-content .offcanvas-search input::-moz-placeholder {
  color: #999;
}
.offcanvas-area .offcanvas-wrapper .offcanvas-content .offcanvas-search input:-ms-input-placeholder {
  color: #999;
}
.offcanvas-area .offcanvas-wrapper .offcanvas-content .offcanvas-search input::placeholder {
  color: #999;
}
.offcanvas-area .offcanvas-wrapper .offcanvas-content .offcanvas-search input:focus {
  border-color: #222;
}
.offcanvas-area .offcanvas-wrapper .offcanvas-content .offcanvas-search button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 14px;
  color: #999;
}

.mean-container a.meanmenu-reveal {
  display: none;
}

.mean-container .mean-nav {
  background: none;
  margin-top: 0;
}

.mean-container .mean-bar {
  padding: 0;
  min-height: auto;
  background: none;
}

.mean-container .mean-nav > ul {
  padding: 0;
  margin: 0;
  width: 100%;
  list-style-type: none;
  display: block !important;
}

.mean-container a.meanmenu-reveal {
  display: none !important;
}

.mean-container .mean-nav ul li a {
  width: 100%;
  padding: 10px 0;
  color: #222;
  border-top: 1px solid #ebebeb;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
}
.mean-container .mean-nav ul li a:hover {
  color: #9E6F55;
}

.mean-container .mean-nav ul li a.mean-expand {
  margin-top: 5px;
  padding: 0 !important;
  line-height: 14px;
  border: 1px solid #ebebeb !important;
  height: 30px;
  width: 30px;
  line-height: 30px;
  color: #222;
  line-height: 30px;
  top: 0;
  font-weight: 400;
}
.mean-container .mean-nav ul li a.mean-expand:hover {
  background: #9E6F55;
  color: #ffffff;
  border-color: #9E6F55;
}

.mean-container .mean-nav ul li > a > i {
  display: none;
}

.mean-container .mean-nav ul li > a.mean-expand i {
  display: inline-block;
}

.mean-container .mean-nav > ul > li:first-child > a {
  border-top: 0;
}

.mean-container .mean-nav ul li a.mean-expand.mean-clicked {
  color: #222;
}

.mean-container .mean-nav ul li a.mean-expand.mean-clicked i {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  color: #222;
}

.header {
  border-bottom: 1px solid #e5e5e5;
  border-color: rgba(255, 255, 255, 0.1);
  background-color: #263C97;
}
.header .header-central .header-logo .logo-image img {
  display: block;
  max-width: 180px;
  padding: 5px 0;
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .header .header-central .header-logo .logo-image img {
    max-width: 200px;
  }
}
@media (max-width: 575px) {
  .header .header-central .header-logo .logo-image img {
    max-width: 150px;
  }
}
.header .header-central .header-inner {
  padding: 20px;
  border-bottom: 1px solid;
  border-color: rgba(255, 255, 255, 0.1);
  position: relative;
  z-index: 2;
}
.header .header-central .header-inner .header-search {
  width: 100%;
  position: relative;
}
.header .header-central .header-inner .header-search .search-input {
  width: 100%;
  height: 50px;
  line-height: 50px;
  border-radius: 4px;
  border: 2px solid #ffffff;
  outline: none;
  padding: 0 15px;
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width: 575px) {
  .header .header-central .header-inner .header-search .search-input {
    padding-left: 15px;
  }
}
.header .header-central .header-inner .header-search .search-input::-moz-placeholder {
  color: #999;
  font-size: 12px;
}
.header .header-central .header-inner .header-search .search-input:-ms-input-placeholder {
  color: #999;
  font-size: 12px;
}
.header .header-central .header-inner .header-search .search-input::placeholder {
  color: #999;
  font-size: 12px;
}
.header .header-central .header-inner .header-search .search-input:focus {
  border-radius: #9E6F55;
}
.header .header-central .header-inner .header-search .search-input::-moz-placeholder {
  color: #E0E0E0;
  font-size: 14px;
}
.header .header-central .header-inner .header-search .search-input:-ms-input-placeholder {
  color: #999;
  font-size: 14px;
}
.header .header-central .header-inner .header-search .search-input::placeholder {
  color: #999;
  font-size: 14px;
}
.header .header-central .header-inner .header-search .btn-search {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  height: 50px;
  color: #222;
  display: block;
  line-height: 50px;
  padding: 0 15px;
  font-size: 20px;
  font-weight: 400;
  background: #9E6F55;
  border-radius: 0 4px 4px 0;
  text-transform: capitalize;
}
.header .header-central .header-inner .header-search .btn-search i {
  color: #ffffff;
}
.header .header-central .header-inner .header-location {
  position: relative;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  z-index: 1;
}
@media (max-width: 575px) {
  .header .header-central .header-inner .header-location {
    display: none;
  }
}
.header .header-central .header-inner .header-location .nice-select {
  border: none;
  color: #222;
}
.header .header-central .header-inner .header-location .list {
  min-width: 220px;
  height: 250px;
  overflow: hidden;
  overflow-y: scroll;
  border-radius: 0;
  left: -20px;
}
.header .header-central .header-inner .header-location .list .option {
  padding: 10px 6px;
  line-height: 1.5;
}
.header .header-central .header-inner .header-location .list .option:hover, .header .header-central .header-inner .header-location .list .option .selected {
  color: #ffffff;
  background: #9E6F55;
}
.header .header-central .header-inner .header-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 60px;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 576px) and (max-width: 767px) {
  .header .header-central .header-inner .header-action {
    margin-left: 20px;
  }
}
@media (max-width: 575px) {
  .header .header-central .header-inner .header-action {
    margin-left: 0;
  }
}
.header .header-central .header-inner .header-action .icon-block {
  display: flex;
}
@media only screen and (min-width: 320px) and (max-width: 370px) {
  .header .header-central .header-inner .header-action .icon-block {
    display: block;
  }
}
.header .header-central .header-inner .header-action .icon-block i {
  font-size: 30px;
  line-height: 34px;
  font-weight: 400;
  color: #ffffff;
  margin-right: 10px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header .header-central .header-inner .header-action .icon-block i {
    font-size: 25px;
    margin-right: 5px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .header .header-central .header-inner .header-action .icon-block i {
    font-size: 20px;
    margin-right: 5px;
  }
}
.header .header-central .header-inner .header-action .icon-block span {
  font-size: 12px;
  line-height: 1.1;
  display: block;
  color: #ffffff;
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .header .header-central .header-inner .header-action .icon-block span {
    font-size: 8px;
  }
}
.header .header-central .header-inner .header-action .icon-block span .sub {
  display: block;
  font-size: 10px;
  opacity: 0.7;
  line-height: 1.3;
}
.header .header-central .header-inner .header-action .btn-sell {
  background: #9E6F55;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 30px;
  margin-left: 10px;
}
.header .header-central .header-inner .header-action .btn-sell i {
  padding-right: 10px;
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  .header .header-bottom {
    padding: 15px 0;
  }
}
.header .header-bottom .category-menu-wrapper ul {
  background: #ffffff;
  border-radius: 0 0 5px 3px;
}
.header .header-bottom .category-menu-wrapper ul li {
  position: relative;
}
.header .header-bottom .category-menu-wrapper ul li:last-child a {
  border: none;
}
.header .header-bottom .category-menu-wrapper ul li a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  text-transform: capitalize;
  color: #1F2024;
  border-bottom: 1px solid #e5e5e5;
  font-weight: 500;
  font-size: 14px;
  text-align: left;
  width: 100%;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header .header-bottom .category-menu-wrapper ul li a {
    font-size: 12px;
  }
}
.header .header-bottom .category-menu-wrapper ul li a .category-label {
  font-size: 9px;
  color: #ffffff;
  padding: 4px;
  position: relative;
  background-color: #5aab19;
  top: -5px;
  right: -2px;
  text-transform: uppercase;
}
.header .header-bottom .category-menu-wrapper ul li a .category-label::after {
  position: absolute;
  content: "";
  left: -6px;
  top: 3px;
  bottom: auto;
  border: 3px solid transparent;
  border-top-color: transparent;
  border-right-color: #5aab19;
}
.header .header-bottom .category-menu-wrapper ul li a i {
  position: absolute;
  top: 34%;
  right: 10px;
  transform: rotate(-90deg) translateY(-50%);
}
.header .header-bottom .category-menu-wrapper ul li:hover > a {
  color: #9E6F55;
}
.header .header-bottom .category-menu-wrapper ul li:hover .mega-menu {
  visibility: visible;
  opacity: 1;
  top: 0;
}
.header .header-bottom .category-menu-wrapper ul li:hover .submenu {
  top: 0;
  visibility: visible;
  opacity: 1;
}
.header .header-bottom .category-menu-wrapper ul li .mega-menu {
  position: absolute;
  left: 100%;
  top: 110%;
  width: 800px;
  background: #ffffff;
  z-index: 1;
  padding: 40px 50px;
  padding-bottom: 10px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-out 0s;
  box-shadow: 4.316px 4.168px 20px 0px rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
}
.header .header-bottom .category-menu-wrapper ul li .mega-menu::before {
  position: absolute;
  left: 0;
  right: 0;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.631372549);
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header .header-bottom .category-menu-wrapper ul li .mega-menu {
    width: 620px;
    left: 100%;
  }
}
.header .header-bottom .category-menu-wrapper ul li .mega-menu li {
  width: 33.33%;
  float: left;
  margin-bottom: 25px;
}
.header .header-bottom .category-menu-wrapper ul li .mega-menu li > a {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 15px;
  padding: 0;
  border: none;
  padding: 0;
  position: relative;
}
.header .header-bottom .category-menu-wrapper ul li .mega-menu li ul {
  padding: 0;
}
.header .header-bottom .category-menu-wrapper ul li .mega-menu li ul li {
  display: block;
  width: 100%;
  margin-bottom: 8px;
}
.header .header-bottom .category-menu-wrapper ul li .mega-menu li ul li a {
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 0;
  position: relative;
  display: inline-block;
  width: auto;
  font-weight: 400;
}
.header .header-bottom .category-menu-wrapper ul li .mega-menu li ul li:hover > a {
  color: #9E6F55;
  margin-left: 5px;
}
.header .header-bottom .category-menu-wrapper ul li .mega-menu li:hover > a {
  color: #9E6F55;
}
.header .header-bottom .category-menu-wrapper .category-toggle {
  position: relative;
}
.header .header-bottom .category-menu-wrapper .category-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 83%;
  box-shadow: 0px 15px 30px 0px rgba(0, 3, 143, 0.1);
  z-index: 2;
  display: none;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .header .header-bottom .category-menu-wrapper .category-menu {
    width: 88%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header .header-bottom .category-menu-wrapper .category-menu {
    width: 93%;
  }
}
.header .header-bottom .category-menu-wrapper .btn-toggle-category {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  padding: 15px 30px;
  padding-right: 125px;
  text-align: left;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .header .header-bottom .category-menu-wrapper .btn-toggle-category {
    padding-right: 30px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header .header-bottom .category-menu-wrapper .btn-toggle-category {
    padding: 15px 15px;
    padding-right: 15px;
  }
}
.header .header-bottom .category-menu-wrapper .btn-toggle-category i {
  margin-right: 10px;
  font-size: 20px;
  position: relative;
  top: 2px;
}
.header .header-bottom .category-menu-wrapper .btn-toggle-category:hover {
  background: #9E6F55;
  color: #ffffff;
}
.header .header-bottom .side-menu-btn {
  color: #ffffff;
  font-size: 25px;
}
.header .header-bottom .main-menu ul li {
  display: inline-block;
  margin-right: 26px;
  position: relative;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header .header-bottom .main-menu ul li {
    margin-right: 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header .header-bottom .main-menu ul li {
    margin-right: 30px;
  }
}
.header .header-bottom .main-menu ul li:hover > a {
  color: #9E6F55;
}
.header .header-bottom .main-menu ul li a {
  display: block;
  font-size: 14px;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
  padding: 13px 0;
}
.header .header-bottom .main-menu ul li a i {
  margin-left: 5px;
}
.header .header-bottom .main-menu ul li .active {
  color: #9E6F55;
}
.header .header-bottom .promo-text p {
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header .header-bottom .promo-text p {
    font-size: 12px;
    font-weight: 500;
  }
}

.gr-carousel {
  height: 300px;
}
.gr-carousel .slick-carousel {
  margin: 0 auto;
  height: 500;
}
.gr-carousel .slick-carousel .slick-slide img {
  border-radius: 20px;
}
.gr-carousel .slick-custom-dots {
  position: absolute;
  bottom: 360px;
  left: 50%;
}
@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .gr-carousel .slick-custom-dots {
    position: absolute;
    transform: translateX(-50%);
    display: flex;
    bottom: 360px;
    left: 50%;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .gr-carousel .slick-custom-dots {
    position: absolute;
    transform: translateX(-50%);
    display: flex;
    bottom: 410px;
    left: 50%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .gr-carousel .slick-custom-dots {
    position: absolute;
    transform: translateX(-50%);
    display: flex;
    bottom: 450px;
    left: 50%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .gr-carousel .slick-custom-dots {
    position: absolute;
    transform: translateX(-50%);
    display: flex;
    bottom: 480px;
    left: 50%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .gr-carousel .slick-custom-dots {
    position: absolute;
    transform: translateX(-50%);
    display: flex;
    bottom: 540px;
    left: 50%;
  }
}
@media (max-width: 575px) {
  .gr-carousel .slick-custom-dots {
    position: absolute;
    transform: translateX(-50%);
    display: flex;
    bottom: 530px;
    left: 50%;
  }
}
.gr-carousel .slick-custom-dots ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.gr-carousel .slick-custom-dots ul li {
  margin: 0 4px;
}
.gr-carousel .slick-custom-dots ul li button {
  background: gray;
  height: 8px;
  width: 8px;
  overflow: hidden;
  color: grey;
  border: none;
  border-radius: 4px;
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .gr-carousel .slick-custom-dots ul li button {
    height: 6px;
    width: 6px;
  }
}
@media (max-width: 575px) {
  .gr-carousel .slick-custom-dots ul li button {
    height: 4px;
    width: 4px;
  }
}
.gr-carousel .slick-custom-dots ul li.slick-active button {
  height: 8px;
  width: 30px;
  background: #263C97;
  color: #263C97;
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .gr-carousel .slick-custom-dots ul li.slick-active button {
    height: 6px;
    width: 20px;
  }
}
@media (max-width: 575px) {
  .gr-carousel .slick-custom-dots ul li.slick-active button {
    height: 4px;
    width: 15px;
  }
}/*# sourceMappingURL=main.css.map */