@use '../utils' as *;

.product-populars {
    margin-top: 30px;

    .title {
        h3 {
            line-height: 28px;
        }
    }

    .product-active {
        margin-top: 20px;
        padding-bottom: 20px;
    }


}