@use '../utils' as *;


.gr-carousel {

    .carousel {
        .carousel-inner {
            img {
                border-radius: 20px;
            }
        }

        .carousel-indicators {

            [data-bs-target] {
                box-sizing: content-box;
                flex: 0 1 auto;
                width: 10px;
                /* change width */
                height: 10px;
                /* change height */
                padding: 0;
                margin-right: 3px;
                margin-left: 3px;
                text-indent: -999px;
                cursor: pointer;
                background-color: #fff;
                background-clip: padding-box;
                border: 0;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                transition: opacity .6s ease;
                border-radius: 100%; // /* add border-radius */
            }

            .active {
                box-sizing: content-box;
                flex: 0 1 auto;
                width: 10px;
                /* change width */
                height: 10px;
                /* change height */
                padding: 0;
                margin-right: 3px;
                margin-left: 3px;
                text-indent: -999px;
                cursor: pointer;
                background-color: $blue;
                background-clip: padding-box;
                border: 0;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                transition: opacity .6s ease;
                border-radius: 100%;
            }
        }
    }
}